* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Pacifico', cursive;
}

.navbar {
    background-color: #c09048d2;
    font-family: 'Pacifico', cursive;

}

.navbar-brand{
    font-size: 2rem;
}

.offcanvas{
    background-color:#c09048 ;
}
.search{
    background-color: #f4e6e6;
    color: #c09048;
}
.search:hover{
    background-color: #c09048d2;
    color           : #f4e6e6;
    border          : 0;
}

.section_all_products {
    width: 100%;
}

.all_products {
    background-color: #ffffff;
}

.card-body_all_products {
    background-color: #ffffff;
}

.card-body_all_products .btn {
    background-color: #f4e6e6;
}

.brand {
    font-size  : 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.card {
    width        : 270px;
    height       : 400px;
    margin-bottom: 150px;
    margin-right : 25px;
    position     : relative;
}

.card button {
    position        : absolute;
    bottom          : -35%;
    right           : 5%;
    color           :#f4e6e6;
    background-color: #c09048d2;
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 700;
}

.card button:hover {
    background-color: #f4e6e6;
    color           : #c09048d2;
    /* border          : 3px solid #c09048d2; */

}

.card img {
    width     : 100%;
    transition: all 0.3s;
}

.card .img2 {
    position  : absolute;
    top       : 0;
    left      : 0;
    opacity   : 0;
    transition: all 0.3s;
}

.card:hover .img2 {
    opacity: 1;
}

.card:hover img {
    opacity: 0;
}

.card .category {
    color      : #767676;
    font-size  : 14px;
    font-weight: 700;
    margin-top : 10px;
}

.card .product {
    color      : #111;
    font-size  : 16px;
    font-weight: 700;
}

.card .price {
    color      : #a6a6a6;
    font-size  : 14px;
    font-weight: 700;
}

.card .quantity {
    color      : #a6a6a6;
    font-size  : 14px;
    font-weight: 700;
}
/* ____________________________________________________________________________________________________ */
/* buying pg */



.buying{
    width: 100%;
    margin-top: 100px;
}
.counter {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter .count {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #c09048d2;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #c09048d2;
    user-select: none;
}
.product_type{
    font-size: 15px;
    color: #767676;
}
.product_name{
    font-size: 40px;
}
.price{
    color      : #c09048;
    font-size  : 24px;
    font-weight: 700;
}
.currency{
    color: #a6a6a6;
}
/* .carousel-item img{
    height: 700px;
} */
.survey{
    width: 100px;

}
.card .category1 {
    font-size  : 1.5rem;
    font-weight: 700;
    margin-top : 10px;
}
.card .price1 {
    font-size  : 1rem;
    font-weight: 700;
}
.carousel-inner{
    transform: scale(0.9);
}

.buy{
    text-decoration: none;
    color:#111;

}


.byebtn{
    background-color: #000 !important;
    color: #fff !important;
}
.byebtn a{
    /* background-color: #000 !important; */
    color: #fff !important;
}
.byebtn:hover{
    background-color: rgb(77, 76, 76) !important;
    color: #000 !important;
}










.navbar-toggler {
    color: #fff !important;
    background-color: #fff !important;
}
/* Raleway fontt */

.navbar-brand{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    position: relative;
    font-size: 3rem;
}
.navbar-brand span{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    /* margin: auto; */
    position: absolute;
    font-size: 17px;
    top: 70%;
    left: 30%;
}




.navbar{
    background-color: #000 !important;
}
.navbar img{
    /* display: none; */
    width: 100px;
    height: 100px;
    /* transform: scale(0.3); */
}





@media screen and (max-width:600px) {
    .navbar-brand {
        display: none;
    }


}














.button{
    --background: #000000d2;
    --text:#fff;
    --cart:#fff;
    --tick:var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
     /* -webkit-appearance: none; */
    -webkit-tap-highlight-color: transparent;
    /* -webkit-mask-image: -webkit-radial-gradient(white,black); */
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale,1));
    transition: transform 0.4s cubic-bezier(0.36 , 1.01 , 0.32 , 1.27);
  }
  .button:active{
    --scale:0.95;
  }
  .button span{
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    color: #fff !important;

    transform: translateY(var(--span-y,0));
    transition: transform 0.7s ease;
  }
  .button span::before, .button span::after {
    content: '';
    width: var(--w,2px);
    height: var(--h,14px);
    border-radius: 1px;
    position: absolute;
    left: var(--l,8px);
    top: var(--t,6px);
    background: currentColor;
    transform: scale(0.75) rotate(var(--icon-r,0deg)) translateY(var(--icon-y,0));
    transition: transform 0.65s ease 0.05s;
  }
  .button span::after{
    --w: 14px;
    --h: 2px;
    --l: 2px;
    --t: 12px;
  }
  .button .cart{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13px 0 0 -18px;
    transform-origin: 12px 23px;
    transform: translateX(-120px) rotate(-18deg);
  }
  .button .cart:before, .button .cart:after{
    content: '';
    position: absolute;
  }
  button.cart:before{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow:inset 0 0 0 2px var(--cart);
    bottom:0;
    left: 9px;
    filter:drop-shadow(11px 0 0 var(--cart));
  }
  .button .cart:after{
    width: 16px;
    height: 9px;
    background: var(--cart);
    left: 9px;
    bottom: 7px;
    transform-origin: 50% 100%;
    transform:perspective(4px) rotateX('-6deg') scaleY(var(--fill,0)) ;
    transition: transform 1.2s ease var(--fill-d);
  }
  .button.loading{
    --scale: 0.95 ;
    --span-y: -32px ;
    --icon-r: 180deg ;
    --fill: 1 ;
    --fill-d: 0.8s ;
    --offset: 0 ;
    --offset-d: 1.73s ;
  }
  .button.button.loading .cart{
    animation: cart 3.4s linear forwards 0.2s;
  }
  .button .cart svg{
    z-index: 1;
    width: 36px;
    height: 26px;
    display: block;
    position: relative;
    fill: none;
    stroke: var(--cart);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .button .cart svg polyline:last-child{
    stroke: var(--tick);
    stroke-dasharray: 10px;
    stroke-dashoffset: var(--offset,10px);
    transition: stroke-dashoffset 0.4s ease var(--offset-d);
  }
  @keyframes cart{
    12.5%{
        transform: translateX(-60px)rotate(-18deg);
    }
    25%,45%,55%,75%{
        transform: none;
    }
    50%{
        transform: scale(0.9);
    }
    44%,56% {
        transform-origin: 12px 23px;
    }
    45%,55%{
        transform-origin: 50% 50% ;
    }
    87.5%{
        transform: translateX(70px) rotate(-18deg);
    }
    100%{
        transform: translateX(140px) rotate(-18deg);
    }
  }
